@page "/workspaces/{WorkspaceId:guid}/overview"

@using Tracker.WebApp.Components.Boards
@using Tracker.WebApp.Components.Shared
@using Tracker.WebApp.Shared

<WorkWindow>
	<Header>
		<WindowHeader Title=@Workspace?.Title />
	</Header>

	<Body>
		<MudStack Class="mud-background pa-4"
				  Style="overflow-y: auto;">
			<MudGrid Spacing="3">
				@if (Workspace is null)
				{
					@for (int i = 0; i < UiHelper.RandomItemCount(); i++)
					{
						<MudItem xs="12"
								 sm="6"
								 lg="3">
							<BoardSummarySkeleton />
						</MudItem>
					}
				}
				else
				{
					@foreach (var board in Workspace.Boards)
					{
						<MudItem xs="12"
								 sm="6"
								 lg="3">
							<BoardSummary Board=@board />
						</MudItem>
					}

					<MudItem xs="12"
							 sm="6"
							 lg="3">
						<OneLineCreateButton IsWithFrame="false"
											 OnCreate=@CreateBoard />
					</MudItem>
				}
			</MudGrid>
		</MudStack>
	</Body>
</WorkWindow>